doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(href='../static/home.css', rel='stylesheet')
  body
    .main
      | ENTER THE WEBSITE 
      form(class="submit_form" action="/home" method="GET")
        button(type="submit" class="enter_btn" )
          | ENTER
    script(src='../static/home.js')